body 
{
    background-color:crimson;
    margin:0px;
    padding:0px;
}

h1
{
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
}

.header
{
    background-color: bisque;
    overflow: hidden;
    width: 98%;
    padding: 20px;
}